/* class .text-red{}
id #id-bilgisi{} */

h1,h2,h3,h4,h5,h5 {
    color: #e40303;
}

#first-article {
    font-size: 40px;
}
.text-red { 
    color: red;
} 

.fs-14 {
font-size: 14px;
}





.fs-20 {
    font-size: 20px;

}
.fs-30 {
    font-size: 3px;
}